{% if site.posts %}
  <ul class="rows">
    <li class="row__cols">
      <div class="row__title">
        {% if site.post_title %}
          {{ site.post_title }}
        {% else %}
          Title
        {% endif %}
      </div>
      <div class="row__date">
        {% if site.post_date %}
          {{ site.post_date }}
        {% else %}
          Date
        {% endif %}
      </div>
      <div class="row__cat">
        {% if site.post_cat %}
          {{ site.post_cat }}
        {% else %}
          Category
        {% endif %}
      </div>
    </li>
    {% for post in site.posts %}
      <li class="row__post">
        <a href="{{ site.url }}{{ post.url | relative_url }}">
          <div class="row__title {% if include.uid == post.id %}row__active{% endif %}">
            {{ post.title }}
          </div>
          <div class="row__date {% if include.uid == post.id %}row__active{% endif %}">
            {% if site.date_format %}
              {{ post.date | date: site.date_format }}
            {% else %}
              {{ post.date | date: "%b %-d, %Y" }}
            {% endif %}
          </div>
          <div class="row__cat {% if include.uid == post.id %}row__active{% endif %}">
            {{ post.category }}
          </div>
        </a>

        {% if post.img %}
          <img class="row__img" src="{{ post.img }}" alt="{{ post.title }}">
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}