* {
  box-sizing: border-box;
}

::selection {
  background: $color__select;
}

::-moz-selection {
  background: $color__select;
}

a {
  color: $color__text;
  text-decoration: underline;

  &:hover {
    color: $color__text;
  }
}