// Our variables
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans');

$on-palm:           600px !default;
$on-laptop:         800px !default;

// typography
$font__main:        'Inconsolata', monospace;
$font__content:     'Open Sans', sans-serif;
$font__size:        14px;
$font__weight:      400;
$font__line-height: 1.5;

// colors
$color__select:     #fefeca;
$color__bg:         #f8f8f1;
$color__text:       #000000;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
