.rows {
  position: relative;
  width: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.row__cols {
  font-weight: 700;
  overflow: hidden;
}

.row__post {
  width: 100%;
  overflow: hidden;

  &:hover {
    * {
      text-decoration: underline;
      cursor: pointer;
    }

    .row__active {
      text-decoration: line-through;
    }
  }
}

.row__title,
.row__date,
.row__cat {
  float: left;
}

.row__title {
  width: 50%;
}

.row__date,
.row__cat {
  width: 25%;
}

.row__body {
  margin: 20px 0;
}

// behaviors
.row__active {
  text-decoration: line-through;
}

// media queries
@include media-query($on-palm) {
  .row__cols,
  .row__post {
    display: block;
    margin-bottom: 10px;
  }

  .row__title {
    width: 100%;
  }

  .row__date,
  .row__cat {
    width: auto;
  }

  .row__cat {
    position: relative;
    margin-left: 10px;

    &:before {
      position: absolute;
      content: '|';
      left: -9px;
    }
  }
}
