<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    <div class="post">
      <a href="/">&larr; {{ site.header }}</a>

      <div class="post__meta">
        <div class="post__title">{{ page.title }}</div>
        <div class="post__date">
          {% if site.date_format %}
            {{ page.date | date: site.date_format }}
          {% else %}
            {{ page.date | date: "%b %-d, %Y" }}
          {% endif %}
        </div>
        <div class="post__cat">{{ page.category }}</div>
      </div>

      <div class="post__body">
        {{ content }}
      </div>
    </div>

    <div class="container">
      {% include posts_list.html uid=page.id %}
    </div>
  </body>

</html>